@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&display=swap");
body {
  font-family: "Barlow";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  background-image: url(../img/disktop-img-header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .header {
  max-width: 1352px;
  margin: 0 auto;
  padding-bottom: 350px;
}
header .header .nav {
  max-width: 1352px;
  padding: 34px 15px 0px 15px;
  margin: 0 auto;
  margin-bottom: 105px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header .header .nav .navbar {
  display: flex;
  align-items: center;
  -moz-column-gap: 47px;
       column-gap: 47px;
}
header .header .nav .navbar ul {
  display: flex;
  -moz-column-gap: 47px;
       column-gap: 47px;
}
header .header .nav .navbar ul li a {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.129px;
}
header .header .nav .navbar .btn {
  width: 140px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 28px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .header .nav .navbar .btn:hover {
  opacity: 0.3;
}
header .header .nav .navbar .btn a button {
  color: #24303E;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.107px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
header .header .nav .navbar .btn a button:hover {
  color: #FFF;
}
header .header .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header .text h1 {
  color: #FFF;
  font-family: "Fraunces 9pt Soft";
  font-size: 56px;
  font-weight: 900;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 95px;
}

main .main-element {
  max-width: 1440px;
  padding-left: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 106px;
       column-gap: 106px;
}
main .main-element:nth-child(2) {
  flex-direction: row-reverse;
  padding-left: 0;
  padding-right: 165px;
}
main .main-element .main-element-child-1 {
  max-width: 445px;
}
main .main-element .main-element-child-1 h2 {
  max-width: 380px;
  color: #24303E;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -0.286px;
  margin-bottom: 32px;
}
main .main-element .main-element-child-1 p {
  color: #808397;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.129px;
  margin-bottom: 42px;
}
main .main-element .main-element-child-1 .btn-primary {
  width: 137px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 28px;
  border-radius: 28px;
  background: #ddcc6b;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 0.4s;
}
main .main-element .main-element-child-1 .btn-primary:hover {
  background: #FAD400;
}
main .main-element .main-element-child-1 .btn-primary a button {
  color: #24303E;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
main .main-element .main-element-child-2 img {
  display: block;
}
main .main-second {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 160px;
  display: flex;
}
main .main-second .main-second-1 {
  width: 720px;
  height: 600px;
  background-image: url(../img/main-img-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
main .main-second .main-second-1 h2 {
  color: #24554A;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -0.2px;
  margin-bottom: 27px;
}
main .main-second .main-second-1 p {
  max-width: 339px;
  color: #3E7467;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.114px;
  text-align: center;
  margin-bottom: 59px;
}
main .main-second .second {
  background-image: url(../img/main-img-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main .about {
  max-width: 1080px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .about .about-text h1 {
  color: #A7AAAD;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 81px;
}
main .about .about-element {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
main .about .about-element .about-content {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .about .about-element .about-content p {
  color: #5B636D;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.129px;
  text-align: center;
  margin-top: 58px;
}
main .about .about-element .about-content h4 {
  color: #24303E;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.129px;
  margin-top: 69px;
}
main .about .about-element .about-content a {
  color: #A7AAAD;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1px;
  margin-top: 9px;
}
main .images {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}
main .images .images-1 {
  width: 360px;
  height: 447px;
  background-image: url(../img/images-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main .images .images-2 {
  width: 360px;
  height: 447px;
  background-image: url(../img/images-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main .images .images-3 {
  width: 360px;
  height: 447px;
  background-image: url(../img/images-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main .images .images-4 {
  width: 360px;
  height: 447px;
  background-image: url(../img/images-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background: #90D4C6;
}
footer .foter {
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 571px 72px 571px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .foter ul {
  display: flex;
  -moz-column-gap: 57px;
       column-gap: 57px;
  margin-top: 40px;
  margin-bottom: 88px;
}
footer .foter ul li a {
  color: #458D7E;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.129px;
}/*# sourceMappingURL=style.css.map */