@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&display=swap');
body{
    font-family: 'Barlow';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    background-image: url(../img/disktop-img-header-background.png);
    background-repeat: no-repeat;
    background-size: cover  ;
    background-position: center;
    .header{
        max-width: 1352px;
        margin: 0 auto;
        padding-bottom: 350px;
        .nav{
            max-width: 1352px;
            padding: 34px 15px 0px 15px;
            margin: 0 auto;
            margin-bottom: 105px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
           .navbar{
               display: flex;
               align-items: center;
               column-gap: 47px;
               ul{
                   display: flex;
                   column-gap: 47px;
                   li{
                       a{
                           color: #FFF;
                           font-size: 18px;
                           font-weight: 600;
                           line-height: 25px;
                           letter-spacing: -0.129px;
                       }
                   }
               }
               .btn{
                width: 140px;
                height: 56px;
                flex-shrink: 0;
                border-radius: 28px;
                background: #FFF;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;            
                &:hover{
                    opacity: 0.3;
                }
                   a{
                       button{
                           color: #24303E;
                           font-size: 15px;
                           font-weight: 700;
                           line-height: 25px;
                           letter-spacing: -0.107px;
                           text-transform: uppercase;
                           border: none;
                           cursor: pointer;
                           background-color: transparent;
                           &:hover{
                            color: #FFF;
                           }
                       }
                   }
               }
           }
       }
      .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            color: #FFF;
            font-family: "Fraunces 9pt Soft";
            font-size: 56px;
            font-weight: 900;
            letter-spacing: 8.75px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 95px;
           }
      }
      
    }
}
main{
    .main-element{
        max-width: 1440px;
        padding-left: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 106px;
        &:nth-child(2){
            flex-direction: row-reverse;
            padding-left: 0;
            padding-right: 165px;
        }
        .main-element-child-1{
            max-width: 445px;
            h2{
                max-width: 380px;
                color: #24303E;
                font-size: 40px;
                font-weight: 900;
                letter-spacing: -0.286px;
                margin-bottom: 32px;
            }
            p{
                color: #808397;
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: -0.129px;
                margin-bottom: 42px;
            }
            .btn-primary{
                width: 137px;
                height: 10px;
                flex-shrink: 0;
                border-radius: 28px;
                border-radius: 28px;
                background: #ddcc6b ;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                transition: 0.4s;
                &:hover{
                    background: #FAD400;    
                }
                a{
                    button{
                        color: #24303E;
                        font-size: 15px;
                        font-weight: 900;
                        line-height: 25px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
        .main-element-child-2{
            img{
                display: block;
            }
        }

    }
}